@model IEnumerable<BLL.Model.TravelVoucher>
@using Microsoft.AspNetCore.Identity
@using TouristWebApp
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="First().Country"></label>
            </th>
            <th>
                <label asp-for="First().Arrival"></label>
            </th>
            <th>
                <label asp-for="First().Departure"></label>
            </th>
            <th>
                <label asp-for="First().Price"></label>
            </th>
            <th>
                <label asp-for="First().ServicesId"></label>
            </th>
            <th>
                <label asp-for="First().HotelId"></label>
            </th>
            <th>
                <label asp-for="First().StaffId"></label>
            </th>
            <th>
                <label asp-for="First().UserId"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Model.First().Country
                </td>
                <td>
                    @Model.First().Arrival
                </td>
                <td>
                    @Model.First().Departure
                </td>
                <td>
                    @Model.First().Price
                </td>
                <td>
                    @Model.First().ServicesId
                </td>
                <td>
                    @Model.First().HotelId
                </td>
                <td>
                    @Model.First().StaffId
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole(Const.Admin))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
